body {
    background: #191919 url(/Users/juanlucasumali/Desktop/berkeley/codebase/mentoredfa22/personal-website/my-app/src/stars.png);
    overflow-x: hidden;
}

.url {
    cursor: url(/Users/juanlucasumali/Desktop/berkeley/codebase/mentoredfa22/personal-website/my-app/src/teeny.png), auto;}
    
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
  }

.emojis-bro {
    transform: translate(0, 50em);
}

#first-box {
    text-align: center;
    margin: auto;
    padding-top: 20em;
    position:relative;
    
}

#cloud {
    background-color: #ED9562;
    width:10em;
    height:10em;
    filter:blur(2em);
    border-radius: 50%;
    margin:auto;
    transform: translate(-2.7em, 24em);
    z-index:-1;
    transition: 1.1s;
    animation: pulse-in 2s infinite ease-in-out;
}

.title-box {
    width: 5em;
    height: 1em;
    margin: auto;
}

.first-ones {
    width: 5em;
    margin: auto;
}

#first-words {
    color: #191919; 
    text-align: center;
    transform:translate(0, 12.3em);
    margin: 4em, 0;
    transition: 0.5s;
    font-size: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.4s;
}

.first-ones:hover #cloud {
    transform: scale(1.5) translate(-1.8em, 16.1em);
    animation: pulse-in 2s infinite ease-in-out;
}

.title-box:hover #first-words {
    color: #e5e5e5;
    cursor:none;
}

.arrow-box {
    width: 3em;
    height: 2em;
    transform: scale(1.5) translate(1em, 26em);
    margin: auto;
    animation: move 2s infinite ease-in-out;
    color:#ED9562;
    transition: 0.4s;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 0.6em;
    text-decoration: none;
}

.arrow-box:hover {
    color:#e5e5e5;
    cursor: none;
    text-decoration: none;
}


@keyframes move{
    0%{transform: scale(1.5) translate(1em, 26em);}
    50%{transform: scale(1.5) translate(1em, 25.5em);}
    100%{transform: scale(1.5) translate(1em, 26em);}
}

@keyframes pulse-in {
    0%{filter:blur(1.8em)}
    50%{filter:blur(2.8em)}
    100%{filter:blur(1.8em)}
}









#about {
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    transform: translate(0, 38em);
}

.it-juan {
    background-image: url('/Users/juanlucasumali/Desktop/berkeley/codebase/mentoredfa22/website-juan/src/it-juan.png');
    background-repeat: no-repeat;
    background-size: 12em;
    height: 15em;
    transform: translate(40.5em, 20em);
}

.it-juan-text{
    transform: translate(-1.3em, 13em);
    color: #ED9562; 
    transition: 0.5s;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.4s;
    font-style: oblique;
    font-weight: bolder;
    background-color: #191919;
    letter-spacing: 0.1em;
}

.it-juan-text:hover{
    color: #e5e5e5; 
}

.nebulae {
    transform: translate(-40em, 15em);
}